include /navigation.pug
include /photos.pug
- var company = "Christina Hann Trefzger"

doctype html
html(lang="en")
  head
    block title
    - var headerTitle = title ? `Webpage Template Title :: ${title}` : "Webpage Template Title"
    title #{headerTitle}
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")/
    link(rel="stylesheet" href="/css/main.css")/
    link(rel="preconnect" href="https://fonts.googleapis.com")/
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)/
    link(href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet")/
    noscript: link(rel="stylesheet" href="/css/noscript.css")/
  body.is-preload
    // Wrapper 
    #wrapper
      // Navigation 
      nav
        ul
          each nav in navs 
            li
              a(href=title ? `/#${nav.href}` : `#${nav.href}` data-tab-target=`#${nav.href}`)=nav.title
          li 
            hr

      // Main Content 
      #main
        block content

      // Footer 
      #footer
        ul
          li 
            hr 
          li#copyright &copy;&nbsp;2021&nbsp;-&nbsp;#{new Date().getFullYear()}
    include ./scripts.pug